:root {
  --white: white;
  --color-text:#00252E;
  --color-button: #FF52C1;
  --color-button-hover: #FF9ADB;
  --background-color: #EDFBFF;
  --color-text-secundary: #808E9A;
  --background-footer: #00252E;
  --font-family-open-sans: 'Open Sans', sans-serif;
  --font-family-poppins: 'Poppins', sans-serif;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

/* Variables SASS */
